export FLYWAY_URL="jdbc:postgresql://localhost:5432/soh"
export FLYWAY_USER=postgres
export FLYWAY_PASSWORD=postgres
export JDBC_URL=jdbc:postgresql://localhost:5432/soh?currentSchema=public
export DATABASE_USER=postgres
export DATABASE_PW=postgres