#
#
# This is only a template! To use this file with Spring, make a copy application-local.yml.dist -> application-local.yml
#
#
---
spring:
  datasource:
    # overwrite your datasource connection here.
    # start the app with environment
    #       SPRING_PROFILES_ACTIVE=default,local
    # then it takes this value
    jdbcUrl: jdbc:postgresql://your-server:5432/your-database?currentSchema=public
    username: your_db_user
    password: your_db_user_password

cloud:
  aws:
    endpoint:
      url: http://your-docker.host:4566
    region:
      static: eu-central-1
    stack:
      auto: false
    credentials:
      access-key: any-access-key
      secret-key: any-secret-key

#AWS
soh:
  sns:
    topic:
      orderCreated:           arn:aws:sns:eu-central-1:000000000000:soh-order-created
      orderCreatedV2:         arn:aws:sns:eu-central-1:000000000000:soh-order-created-v2
      orderCompleted:         arn:aws:sns:eu-central-1:000000000000:soh-order-completed
      orderCancelled:         arn:aws:sns:eu-central-1:000000000000:soh-order-cancelled
      orderItemCancelled:     arn:aws:sns:eu-central-1:000000000000:soh-order-item-cancelled
      orderRowsCancelled:     arn:aws:sns:eu-central-1:000000000000:soh-order-rows-cancelled-v1
      invoiceAddressChanged:  arn:aws:sns:eu-central-1:000000000000:soh-invoice-address-changed
      deliveryAddressChanged: arn:aws:sns:eu-central-1:000000000000:soh-delivery-address-changed
      salesOrderRowCancelled: arn:aws:sns:eu-central-1:000000000000:soh-sales-order-row-cancelled
      salesOrderCancelled:    arn:aws:sns:eu-central-1:000000000000:soh-sales-order-cancelled
      orderInvoiceCreatedV1:  arn:aws:sns:eu-central-1:000000000000:soh-order-invoice-created-v1
  sqs:
    queue:
      ecpShopOrders:                  http://localhost:4566/000000000000/soh-ecp-shop-orders-queue
      orderItemShipped:               http://localhost:4566/000000000000/soh-order-item-shipped-queue
      orderPaymentSecured:            http://localhost:4566/000000000000/soh-order-payment-secured-queue
      orderItemTransmittedToLogistic: http://localhost:4566/000000000000/soh-order-item-transmitted-to-logistic-queue
      orderItemPackingStarted:      http://localhost:4566/000000000000/soh-order-item-packing-started-queue
      orderItemTrackingIdReceived:  http://localhost:4566/000000000000/soh-order-item-tracking-id-received-queue
      orderItemTourStarted:         http://localhost:4566/000000000000/soh-order-item-tour-started-queue
      invoicesFromCore:             http://localhost:4566/000000000000/soh-invoices-from-core-queue
      coreCancellation:               http://localhost:4566/000000000000/soh-core-cancellation-queue
      subsequentDeliveryReceived:   http://localhost:4566/000000000000/soh-subsequent-delivery-received-queue
  aws:
    config:
      maxNumberOfMessages: 10
      waitTimeOut: 10


