#
#
# This is only a template! To use this file with Spring, make a copy application-local.yml.dist -> application-local.yml
#
#
---
spring:
  datasource:
    # overwrite your datasource connection here.
    # start the app with environment
    #       SPRING_PROFILES_ACTIVE=default,local
    # then it takes this value
    jdbcUrl: jdbc:postgresql://your-server:5432/your-database?currentSchema=public
    username: your_db_user
    password: your_db_user_password

cloud:
  aws:
    endpoint:
      url: http://your-docker.host:4566
    region:
      static: eu-central-1
    stack:
      auto: false
    credentials:
      access-key: any-access-key
      secret-key: any-secret-key

#AWS
soh:
  sns:
    topic:
      orderCreatedV2:         arn:aws:sns:eu-central-1:000000000000:soh-order-created-v2
      orderCompleted:         arn:aws:sns:eu-central-1:000000000000:soh-sales-order-completed-v1
      invoiceAddressChanged:  arn:aws:sns:eu-central-1:000000000000:soh-invoice-address-changed
      salesOrderRowCancelled: arn:aws:sns:eu-central-1:000000000000:soh-sales-order-row-cancelled
      salesOrderCancelled:    arn:aws:sns:eu-central-1:000000000000:soh-sales-order-cancelled
      orderInvoiceCreatedV1:  arn:aws:sns:eu-central-1:000000000000:soh-order-invoice-created-v1
      shipmentConfirmedV1:    arn:aws:sns:eu-central-1:000000000000:soh-shipment-confirmed-v1
      returnOrderCreatedV1:   arn:aws:sns:eu-central-1:000000000000:soh-return-order-created-v1
      coreInvoiceReceivedV1:  arn:aws:sns:eu-central-1:000000000000:soh-core-invoice-received-v1
      creditNoteCreatedV1:    arn:aws:sns:eu-central-1:000000000000:soh-credit-note-created-v1
      creditNoteReceivedV1:   arn:aws:sns:eu-central-1:000000000000:soh-credit-note-received-v1
      creditNoteDocumentGeneratedV1: arn:aws:sns:eu-central-1:000000000000:soh-credit-note-document-generated-v1
      migrationOrderCreatedV2: arn:aws:sns:eu-central-1:000000000000:migration-soh-order-created-v2
      migrationSalesOrderRowCancelledV1: arn:aws:sns:eu-central-1:000000000000:migration-soh-sales-order-row-cancelled-v1
      migrationSalesOrderCancelledV1: arn:aws:sns:eu-central-1:000000000000:migration-soh-sales-order-cancelled-v1
      migrationReturnOrderCreatedV1: arn:aws:sns:eu-central-1:000000000000:migration-soh-return-order-created-v1
      dropshipmentOrderCreatedV1: arn:aws:sns:eu-central-1:000000000000:soh-dropshipment-order-created-v1
      dropshipmentOrderReturnNotifiedV1: arn:aws:sns:eu-central-1:000000000000:soh-dropshipment-order-return-notified-v1
      payoutReceiptConfirmationReceivedV1: arn:aws:sns:eu-central-1:000000000000:soh-payout-receipt-confirmation-received-v1
      invoicePdfGenerationTriggeredV1: arn:aws:sns:eu-central-1:000000000000:soh-invoice-pdf-generation-triggered-v1
  sqs:
    queue:
      ecpShopOrders:                  http://localhost:4566/000000000000/soh-ecp-shop-orders-queue
      bcShopOrders:                   http://localhost:4566/000000000000/soh-bc-shop-orders-queue
      coreShopOrders:                 http://localhost:4566/000000000000/soh-core-shop-orders-queue
      orderPaymentSecured:            http://localhost:4566/000000000000/soh-order-payment-secured-queue
      invoicesFromCore:               http://localhost:4566/000000000000/soh-invoices-from-core-queue
      d365OrderPaymentSecured:        http://localhost:4566/000000000000/soh-d365-order-payment-secured-queue
      dropshipmentShipmentConfirmed:  http://localhost:4566/000000000000/soh-dropshipment-shipment-confirmed-queue
      dropshipmentPurchaseOrderBooked: http://localhost:4566/000000000000/soh-dropshipment-purchase-order-booked-queue
      dropshipmentPurchaseOrderReturnConfirmed: http://localhost:4566/000000000000/soh-dropshipment-purchase-order-return-confirmed-queue
      dropshipmentPurchaseOrderReturnNotified: http://localhost:4566/000000000000/soh-dropshipment-purchase-order-return-notified-queue
      coreSalesCreditNoteCreated:     http://localhost:4566/000000000000/soh-core-sales-credit-note-created-queue
      coreSalesInvoiceCreated:        http://localhost:4566/000000000000/soh-core-sales-invoice-created-queue
      migrationCoreSalesOrderCreated: http://localhost:4566/000000000000/migration-core-sales-order-created-queue
      migrationCoreSalesInvoiceCreated: http://localhost:4566/000000000000/migration-core-sales-invoice-created-queue
      migrationCoreSalesCreditNoteCreated: http://localhost:4566/000000000000/migration-core-sales-credit-note-created-queue
      parcelShipped:                  http://localhost:4566/000000000000/soh-parcel-shipped-queue
      paypalRefundInstructionSuccessful: http://localhost:4566/000000000000/soh-paypal-refund-instruction-successful-queue
      coreSalesOrderCancelled:        http://localhost:4566/000000000000/soh-core-sales-order-cancelled-queue
  aws:
    config:
      maxNumberOfMessages: 10
      waitTimeOut: 10
  http:
    connection:
      timeout: 8

infrastructureEnvironment: stage

kfzteile:
  pricing-service:
    url: https://s8vlbhblll.execute-api.eu-central-1.amazonaws.com/stage
    apiKey:  ${pricing_service_api_key:api_key}
  email:
    source: ${soh_source_email:fake.email@kfzteile24.de}
    destination: ${finance_destination_email:${kfzteile.email.source}}
    cc: ${refund_cc_email:${kfzteile.email.source}}
    password: password

ignore_core_sales_invoice: false
ignore_core_credit_note: false
ignore_migration_core_sales_invoice: false
ignore_migration_core_sales_credit_note: false
ignore_migration_core_sales_order: false
ignore_sales_order_splitter: false
ignoreSetDissolvement: false
preventSetProcessing: false