---
spring:
  profiles: development

  datasource:
    # overwrite your datasource connection here.
    # start the app with environment
    #       SPRING_PROFILES_ACTIVE=development,default
    # then it takes this se
    jdbcUrl: jdbc:postgresql://your-server:5432/your-database?currentSchema=public
